{% extends 'social_media/base.html' %}

{% block content %}

{% load static %}

    <meta charset="utf-8"/>
    <title>Chat Room : {{ room_name }}</title>

    <div class="profile_new-user">
        <section class="feed_profile_show drop_shadow">
            <div class="feed_profile_media">
                <img src="{{ user.profile.pfp.url }}" class="feed_userpfp">
                <br>
                <img src="{{ user.profile.cover.url }}" class="feed_usercover">
            </div>
            <div class="feed_user_details">
                <div>Welcome <span style="font-weight: 900;">{{ user.first_name }} {{ user.last_name }}</span></div> 
                <div>
                    About {{ user.first_name }}: 
                    <br>
                    {{ user.profile.desc|truncatechars:40 }}
                </div>
                <div class="UserStatus">
                    <form action="{% url 'status_save' user.status.id %}" method="post" autocomplete="off">
                        {% csrf_token %}
                        <!-- {{ Status }} -->
                        <label for="status">Status:</label>
                        <input type="text" value="{{ user.status.status }}" name="status" maxlength="300" id="id_status">
                        <button type="submit" name="UserStatus_pk">Update!</button>
                    </form>
                </div>
            </div>
        </section>

        <section class="new_users drop_shadow">
            <div class="recenty_joined">Recently Joined:</div>
            {% for i in User reversed %}
                <div class="new_user_details_feed">
                    <a href="{% url 'userprofile' user_id=i.id %}">
                        <img src="{{ i.profile.pfp.url }}" class="new_user_pfp_feed" alt="">
                        <div class="new_user_name_feed">
                            {{ i.first_name }} {{ i.last_name }}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </section>
    </div>

    <div class="chat_room_main drop_shadow">
        <h1 class="room-name-main"><center>Room name: <b>{{ room_name }}</b></center></h1>
        <textarea id="chat-log" readonly ></textarea><br>
        <input id="chat-message-input" placeholder="Write your message here.." type="text" size="100">
        <button id="chat-message-submit" type="button" value="Send"><i class="fad fa-paper-plane"></i></button>
        {{ room_name|json_script:"room-name" }}
    </div>

    <div class="user_friend_chatroom">
        <div class="chat_room drop_shadow">
            <span>Chatrooms:</span>    
            <div>
                <span>Create your own chat room:</span><br>
                <input id="room-name-input" style="width: 80%; margin-bottom: .1rem;" type="text" size="100"><br>
                <input id="room-name-submit" type="button" value="Enter">
            </div>
            <hr style="margin-top: 1rem;">
            <div class="server_chat_rooms_main">
                <div>Server Chat Rooms:</div>
                <div class="server_chat_rooms">
                    <a href="{% url 'room' room_name='chat_room_1' %}">Chat Room 1 <i class="fal fa-comments-alt"></i></a>
                    <a href="{% url 'room' room_name='chat_room_2' %}">Chat Room 2 <i class="fal fa-comments-alt"></i></a>
                </div>        
                <div class="server_chat_rooms">
                    <a href="{% url 'room' room_name='chat_room_3' %}">Chat Room 3 <i class="fal fa-comments-alt"></i></a>
                    <a href="{% url 'room' room_name='chat_room_4' %}">Chat Room 4 <i class="fal fa-comments-alt"></i></a>
                </div>
            </div>
        </div>

        <div class="user_friends drop_shadow">
            <span>Friends:</span>    
            {% for i in friend %}
                <div>
                    <a href="{% url 'userprofile' i.id %}">
                        <div><img src="{{ i.profile.pfp.url }}" class="new_user_pfp_feed" alt=""></div>
                        <div>{{ i.first_name }} {{ i.last_name }}</div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/'
            + roomName
            + '/'
        );
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
            }));
            messageInputDom.value = '';
        };
    </script>


{% endblock %}